[submodule "vim/bundle/nerdcommenter"]
    path = vim/bundle/nerdcommenter
    url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/vim-instant-markdown"]
    path = vim/bundle/vim-instant-markdown
    url = https://github.com/suan/vim-instant-markdown.git
